<% if user_signed_in? %>
Jestes zalogowany jako:
<b><%= current_user.email %></b>
<%= link_to "Moj profil", {:action => "show", :id => current_user.id, :controller => "users"} %>

<br><br>
<%= render 'form2' %>

  <% if @groups.blank? %>
    <p><h1>Nie mamy zadnych zapisanych grup. Mozesz stworzyc pierwsza!</h1></p>

  <% else %>
    <p><h1>Dolacz do jednej z naszych wspanialych grup!</h1></p>
  

    <ul id="groups">
    <% @groups.each do |g| %>
      <h1><%= link_to g.name, {:action => "show", :id => g.id} -%></h1>
      <h2><%= g.description -%></h2>
    <% end %>
    </ul>
	<%= will_paginate ({:previous_label => "&#8592; Poprzednia", :next_label => "Nastepna &#8594;"}) %>
  <% end %>
  
  <br>
  <p><h2><%= link_to "Stworz nowa grupe", {:action => 'new' }%></h2></p>
  <br>
  <p><%= link_to "Wyloguj sie", destroy_user_session_path %></p>
<% else %>
  
  <center><h1><br>Musisz byc zalogowany, by moc ogladac zawartosc tej strony.</h1><br><br>
  <p><%= link_to "Zaloguj sie", new_user_session_path %></p><br>
  <p><%= link_to "Zarejestruj sie", new_user_registration_path %></p></center>

<% end %>
  
