<center><h1><%= @group.name %></h1>
<h2><%= @group.description %></h2></center>
<br><br>

<%= link_to "Czlonkowie grupy",  group_memberships_path(@group) %>
<br><br>

<% unless @group.member?(current_user) %>
    <h2>Nie jestes czlonkiem tej grupy.</h2>
	<% unless @group.requested?(current_user) %>
	  <%= link_to "Dolacz do tej grupy!", group_membership_requests_path(@group.id),
          :confirm => "Wysylasz do admina prosbe o dodanie do grupy", :method => :post %>
	<% else %>
	  <h3>Wyslano prosbe o dolaczenie do grupy.</h3>
	<% end %>
<% else %>
	<h2>Jestes zapisany do tej grupy.</h2>
<% end %>
<br><br>


<% if @group.admin?(current_user) %>
   <%= link_to "Edytuj grupe", {:action => "edit", :id => @group.id} %><br>
   <%= link_to "Usun grupe", {:action => "destroy", :id => @group.id},
       :confirm => "Czy na pewno chcesz usunac te grupe?", :method => :delete %><br>
   <% if @group.membership_requests.blank? %>
      <h2>Nie ma zadnych prosb o dodanie do grupy :C</h2>
   <% else %>
      <h2>Prosby o dodanie do grupy:</h2>
	  <% @group.membership_requests.each do |r| %>
	   <h3>Uzytkownik <%= r.user.email %> chce dolaczyc do grupy</h3>
	   <%= link_to "Zaakceptuj", {:action => "create", :user_id => r.user_id, 
	       :group_id => @group.id, :controller => "memberships"}, :method => :post %>
	   <%= link_to "Usun request", {:action => "destroy", :group_id => @group.id,
	       :id => r, :controller => "membership_requests"}, :method => :delete %>
		<% end %>
	<% end %>	
<% end %>

<br>
<%= link_to "Powrot", groups_path %>